.idea
***/__pycache__/*
src/carotid.egg-info/*
*.DS_Store
models/*_transform*/*

# Ignore test data
tests/tmp
tests/raw_dir
tests/models
tests/*/reference
tests/*/input
tests/*/*.toml
.coverage*
coverage*
reports/*

# Ignore build
CarotidSegmentation*.tar.gz

# Ignore docs
docs/images/*.pptx
docs/images/original/*